@import "tailwindcss";


:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-foreground: var(--foreground);
}

@theme {
    --color-primary: #A10D23;
    --color-secondary: #FFF;
    --color-background: #D4D4D4;
}

@font-face {
    font-family: "Futura";
    src: url('/fonts/Futura.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Futura";
    src: url('/fonts/Futura Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

.hoverEffect {
    @apply transition-opacity duration-300 ease-in-out opacity-100;
}

.hoverEffect:hover {
    @apply opacity-50
}

.mobilePadding {
    @apply p-8
}

.bannerText {
    @apply text-4xl font-bold drop-shadow-black drop-shadow-lg ;

}

.headerText {
    @apply text-2xl font-bold drop-shadow-black drop-shadow-lg ;
}

.bodyText {
    @apply text-lg drop-shadow-black drop-shadow-lg ;

}

.sectionGap {
    @apply gap-6
}

.slideEffect {
    @apply transition-transform duration-300 ease-in-out opacity-100;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Futura", sans-serif;
}
